body {
    font-family: sans-serif;
}

.leclerc{  color: rgba(172, 123, 17, 0.651) ;

}
 

.max{ color: rgb(255, 1, 1)

}



P {
    color: rgba(23, 51, 207, 0.993);
}


body{ background-color: rgba(41, 44, 192, 0.671) ;

}
